.kmenu
{
	margin-left:30%;
	margin-top:4%;
}
ul {
	list-style: none;
	padding:0;
	
}

ul li {
	list-style:none;
	float:left;
	margin:0 5px 1px 0;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing:1px;
}

.sample {
	
}

#firstSample .customizeMe {
	float:left;
	margin: 8px 40px 0 0;
	font-size: 14px;
}

#secondSample li, #thridSample li {
	margin:10px 5px 0;
}

#secondSample ul, #thridSample ul {
	padding:0 0 105px 35px;
}

.sourceCode{
	color:#00c6ff;
}

span.isClicked {
	display:block;
	text-align:center;
	visibility:hidden;
}